@font-face {
	font-family: "Gotham-Book";
	src: url("../assets/fonts/Gotham-Book.otf") format("opentype");
}
@font-face {
	font-family: "Gotham-Bold";
	src: url("../assets/fonts/Gotham-Bold.otf") format("opentype");
}
@font-face {
	font-family: "Gotham-Light";
	src: url("../assets/fonts/Gotham-Light.otf") format("opentype");
}
@font-face {
	font-family: "Gotham-Medium";
	src: url("../assets/fonts/Gotham-Medium.otf") format("opentype");
}
@font-face {
	font-family: "Gotham-Thin";
	src: url("../assets/fonts/Gotham-Thin.otf") format("opentype");
}

@font-face {
	font-family: "Proxima-Bold";
	src: url("../assets/fonts/proxima-nova-bold.otf") format("opentype");
}
@font-face {
	font-family: "Proxima-Extra-Bold";
	src: url("../assets/fonts/proxima-nova-extrabold.otf") format("opentype");
}
@font-face {
	font-family: "Proxima-Regular";
	src: url("../assets/fonts/proxima-nova-regular.otf") format("opentype");
}
@font-face {
	font-family: "Proxima-Semibold";
	src: url("../assets/fonts/proxima-nova-semibold.otf") format("opentype");
}
