.app {
	background:#f1f1f1;

	&__wrap {
		justify-content: space-around;
		max-width: 1280px;
	}

	&__flex {
		display:flex;
		justify-content: space-between;

		& > .app__section {

			&.split-flex {
				width:calc(50% - 10px);
			}
		}
	}

	&__wrap {
		justify-content: space-around
	}

	&__column {
		width:760px;
		margin-top: 20px;
	}

	&__sidebar {
		width:326px;
		margin-top: 20px;
	}
}
